@import url('https://fonts.cdnfonts.com/css/trebuchet-ms-2');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

.app {
    background: url(../../assets/img/bgMain.svg);
    margin: 0 auto;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Trebuchet MS', sans-serif;
}

.container {  
    margin: 0 auto;
    max-width: 1120px;
}


@media (max-width: 1224px) {
    .container {
      width: 96%;
    }
}

@media (max-width: 576px) {
    .container {
      width: 100%;
    }
}