
.app {
    position: relative;
    background: url(../../assets/img/Pattern@2x.svg);
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    z-index: 100;
}

.container {  
    margin: 0 auto;
    max-width: 1120px;
}