.main {
    display: grid;
    align-items: center;
    min-height: 100vh;
    &__title {
        position: absolute;
        right: 50%;
        font-size: 36px;
        font-weight: inherit;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px #000000;
        font-family: 'Exo 2', sans-serif;
        transform: translateX(50%);
    }
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, 320px);
        grid-gap: 80px;
        justify-content: center;
    }
}

@media (max-width: 1224px) {
    .main {
        &__wrapper {
            margin-top: 50px;
        }
    }
}

@media (max-width: 991px) {
    .main {
        &__title {
            font-size: 28px;
        }
    }
}


@media (max-width: 767px) {
    .main {
        &__title {
            text-align: center;
            margin-top: -60px;
        }
        &__wrapper {
            margin-top: 150px;
        }
    }
}