.main {
    display: grid;
    align-items: center;
    height: 100vh;
    &__title {
        position: absolute;
        top: -50px;
        right: 50%;
        font-size: 36px;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px #000000;
        font-family: 'Exo 2', sans-serif;
        transform: translateX(50%);
    }
    &__wrapper {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, 320px);
        grid-template-rows: 480px 30px;
        grid-column-gap: 80px;
        height: 510px;
    }
}