.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    &__mainWrapp {
        position: relative;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    &__title {
        position: absolute;
        top: -75px;
        width: 100%;
        text-align: center;
        font-size: 36px;
        font-weight: inherit;
        color: #FFFFFF;
        text-shadow: 0px 1px 1px #000000;
        font-family: 'Exo 2', sans-serif;
    }
}

// Media -------------------

@media (max-width: 1050px) {
    .cards {
        height: 100%;
        &__title {
            top: 50px;
            font-size: 32px;
        }
        &__mainWrapp {
            height: 100%;
        }
       &__wrapper {
        margin-top: 150px;
        justify-content: space-around;
       }
    }
}


@media (max-width: 991px) {
    .cards {
        &__title {
            top: 50px;
            font-size: 32px;
        }
    }
}



@media (max-width: 320px) {
    .cards {
        &__title {
           width: 313px;
        }
    }
}

